<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- jQuery -->
    <script src="vendors/jquery/dist/jquery.js" charset="utf-8"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="vendors/bootstrap/dist/css/bootstrap.css">
    <!-- Client -->
    <script src="scripts/client.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="views/style.css">
    <title></title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Prime Real Estate</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <button type="button" id="addListingButton" class="btn btn-primary">Add Listing</button>
            </div>
        </div>
        <div id="listingsContainer" class="row">

        </div>
    </div>
    <div class="modal fade" id="postListingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="postListingLabel">Post Listing</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="postPriceInput" class="control-label sr-only">Price:</label>
                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                                <input placeholder="Price" type="number" class="form-control" id="postPriceInput" data-type="cost">
                                <div id="priceInputAddon" class="input-group-addon">.00</div>
                            </div>
                        </div>
                        <div class="form-group">
                                <label class="radio-inline">
                                  <input type="radio" name="optionsRadios" id="saleRadio" value="sale" checked>
                                  Sale Price
                                </label>
                                <label class="radio-inline">
                                  <input type="radio" name="optionsRadios" id="rentRadio" value="rent">
                                  Per Month
                                </label>
                        </div>
                        <div class="form-group">
                            <label for="postSqftInput" class="control-label sr-only">Square Feet:</label>
                            <div class="input-group">
                                <input type="number" placeholder="Square Feet" class="form-control" id="postSqftInput">
                                <div class="input-group-addon">
                                    Square Feet
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="postCityInput" class="control-label sr-only">City:</label>
                            <input placeholder="City" class="form-control" id="postCityInput">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" id="submitListing" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <script src="vendors/bootstrap/dist/js/bootstrap.js" charset="utf-8"></script>
</body>

</html>
