.Sale, .Rent {
  padding: 1em;
}

.listing-container {
  text-align: center;
  border-radius: 0.5em;
  border: 1px solid rgba(0,0,0,0.1);
  overflow: hidden;
}

.listing-container p {
  margin: 0;
  padding: 0.25em;
  color: rgb(28, 28, 28);
}

.listing-container .square-feet,
.listing-container .location {
  background-color: #d5d5d5;
}

.placeholder-icon {
  font-size: 3em;
  padding: 1em;
  border-radius: 0.5em;
  color:white;
  margin: 0.25em;
}

.Sale .placeholder-icon {
  background-color: rgb(35, 148, 74);
}

.Rent .placeholder-icon {
  background-color: rgb(55, 74, 203);
}

.listing-container .typeFlare {
  color: white;
  margin: 0;
  padding: 0.5em;
}

.Sale .typeFlare {
  background-color: rgb(35, 148, 74);
}

.Rent .typeFlare {
  background-color: rgb(55, 74, 203);
}
